@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'function';

#first-cta{
    background-color: rgb(252, 243, 243);
}

.reviews-img img{
    width: 120px;
    height: 120px;
}

